<html>
    <head>
        <meta charset='utf-8' />
        <title>Search</title>
    </head>
    <body>
        <form action='/search_res/' method='post'>
            {% csrf_token %}
            <input type='text' name='q'>
            <input type="checkbox" name="field" value="title" checked="checked">知识标题
            <input type="checkbox" name="field" value="keyword" checked="checked">关键词集合
            <input type="checkbox" name="field" value="answer" checked="checked">答案
            <input type='submit' value='Search'>
        </form>
        {% if empty %}
        <p>You must input something!</p>
        {% endif %}
        {% if searched %}
        <p>共搜索到{{ res_cnt }}条结果</p>
        <table border='1' width=100%>
            <tr>
                <td width=15%>知识标题</td>
                <td width=10%>知识目录</td>
                <td width=10%>适用单位</td>
                <td width=10%>关键词集合</td>
                <td width=5%>知识版本</td>
                <td width=35%>答案</td>
                <td width=10%>关联系1</td>
                <td width=5%>关联系2</td>
            </tr>
            {% for item in list %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.catalogue }}</td>
                <td>{{ item.enterprise }}</td>
                <td>{{ item.keyword }}</td>
                <td>{{ item.version }}</td>
                <td>{{ item.answer }}</td>
                <td>{{ item.relation1 }}</td>
                <td>{{ item.relation2 }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </body>
</html>